<div class="pageId">
    <h2>Home Page</h2>
</div>
<div class="links">
    <nav>
        <ul class="bannerLinks">
            <li><a ng-href="contact-us"><h3 id="contact">Contact Us</h3></a></li>
            <li><a ng-href="create-ticket"><h3 id="createTicket">Create Ticket</h3></a></li>
            <li><a ng-href="view-tickets"><h3 id="progress">View Tickets</h3></a></li>
        </ul>
    </nav>
</div>
<div class="animate">
    <h3 id="aboutUs">About Us: </h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
<div class="pics">
    <h3 id="galleryTitle">Our Gallery</h3>
    <ul id="pictures">
        <li><a href="img/atom.jpg" /><img src="img/atom.jpg" alt="Atom Close Up" /></li>
        <li><a href="img/tyrael.jpg" /><img src="img/tyrael.jpg" alt="Arc Angel" /></li>
        <li><a href="img/andromeda-galaxy.jpg" /><img src="img/andromeda-galaxy.jpg" alt="Galaxy" /></li>
        <li><a href="img/space.jpg" /><img src="img/space.jpg" alt="Space" /></li>
        <li><a href="img/quasar.jpg" /><img src="img/quasar.jpg" alt="Quasar" /></li>
        <li><a href="img/blue background.jpg" /><img src="img/blue background.jpg" alt="Ocean" /></li>
    </ul>
</div>